# Environment & Virtual Environments
venv/
**/venv/
.env
**/.env
frontend/.env.local

# Python artifacts
**/__pycache__/
**/*.pyc
*.pyo
*.pyd

# Vectorstore & Raw PDFs
**/vectorstore/
**/data/raw/*.pdf

# Frontend artifacts
frontend/node_modules/
frontend/dist/

# OS and IDE files
.DS_Store
Thumbs.db
*.log